<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://kit.fontawesome.com/aef6646358.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>Książki, o których wspominamy przy okazji rozmów na Clubhouse</h2>
    </nav>
    <main>
        <div class="book-table">
            <table>
                <thead>
                    <th>Pokój</th>
                    <th>Autor</th>
                    <th>Tytuł</th>
                    <th>Okładka</th>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{book.room}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.title}}</td>
                            <td>
                                <img src="{{book.cover.url}}" alt="image">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="contact">
            <p>Jeśli chcesz dodać jakąś książkę skontaktuj sie ze mna</p>
            <a href="https://www.instagram.com/icantcoding/"><i class="fab fa-instagram"></i></a>
        </div>
    </main>
</body>
</html>