<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in ch_room_f%}
                {% for error in field.errors%}
                    <p>to jest error: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {{ ch_room_f }}
        
        {% if form.errors %}
            {% for field in book_f%}
                {% for error in field.errors%}
                    <p>to jest error: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {{ book_f }}
        <input type="submit" value="Upload">

    </form>

    
    
</body>
</html>